@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}



@utility bg-cross {
  --color-bg: #ddd;
  --color-cross: #bbb;
  background:
    radial-gradient(circle, transparent 20%, var(--color-bg)  21%),
    linear-gradient(0deg, transparent 46%, var(--color-cross) 47%, var(--color-cross) 53%, transparent 54%),
    linear-gradient(90deg, transparent 46%, var(--color-cross) 47%, var(--color-cross) 53%, transparent 54%);
  background-size: 4rem 4rem;
  background-color: var(--color-bg);
  opacity: 1
}